.Header {
    background-color: #513;
    font-weight: bolder;
    width: 100%;
    margin-bottom: 5px;
    margin-right: 10px;
}

#headline {
    font-size: 30px;
    margin: 20px auto 8px auto;
    text-align: center;
    color: rgba(255, 0, 0, 0.6);;
}

#email {
    border: 2px solid rgba(39, 22, 133,0.5);
    margin-left: 25px;
    margin-bottom: 5px;
    
}

#password {
    border: 2px solid rgba(39, 22, 133,0.5);
}

#search {
    width: 250px;
    max-width: 900px;
    margin: 0px 10px 10px auto;
    display: block;
}*/

#searchButton {
    margin: 10px 0px 10px 198px;
}

/* Style the input container */
.login-container {
  padding: 10px 10px 10px 68%;
}

/* Style the input field inside the navbar */
.Header input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 12px;
  border: none;
  width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
}

.Header input[type=password] {
  padding: 6px;
  margin-top: 8px;
  font-size: 12px;
  border: none;
  width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
}

/* Style the button inside the input container */
.Header .login-container button {
  float: right;
  padding: 3px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.Header .login-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .login-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc; 
  }
}


h1 {
    font-family: fantasy;
    font-weight: bold;
    text-decoration: underline;
    color: black;
}

h1 a{
    color: black;
}

h1 a:hover {
    color: blueviolet;
    color: #cc8033;
    cursor: default;

}

.Content {
    overflow: auto;
    overflow-y: scroll;
}

.contentPara {
    font-weight: bold;
}

body {
    background-image: linear-gradient(to right, lightgrey,lightgrey,lightgrey,darkgrey,darkgrey,lightgrey,lightgrey);
}
/* All about right Navigation Bar included here */
.sideNav {
    float: left;
    overflow: auto;
    width: 25%;
    min-width: 20%;
    height: 450px;
    z-index: 100;
    background: #212;
    height: cover;
    margin-right: 10px;
}

.sideNav a {
    color: powderblue;
    padding: 20px;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.sideNav a:hover {
    background-color: rgba(170, 0, 0,0.3);
    color: white;
}

form div {
    margin-left: 75px;
}