.Header {
    background-color: #212;
    font-weight: bolder;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    text-align: center;
}

#headline {
    font-size: 30px;
}

#headline a {
    text-decoration: none;
    cursor: default;
    color: tomato;
}

h1 {
    font-family: fantasy;
    font-weight: bold;
    text-decoration: underline;
    color: black;
}

h1 a{
    color: black;
}

h1 a:hover {
    color: blueviolet;
    color: #cc8033;
    cursor: default;

}

h2 {
    font-family: cursive;
    text-decoration: underline;
    color: #c83;
}

.Content {
    overflow: auto;
    overflow-y: scroll;
}

.contentPara {
    font-weight: bold;
}

body {
    background-image: linear-gradient(to right, lightgrey,lightgrey,lightgrey,darkgrey,darkgrey,lightgrey,lightgrey);
}
/* All about right Navigation Bar included here */
.sideNav {
    float: left;
    overflow: auto;
    width: 25%;
    min-width: 20%;
    height: 450px;
    z-index: 100;
    background: #212;
    height: cover;
    margin-right: 10px;
}

.sideNav a {
    color: powderblue;
    padding: 20px;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.sideNav a:hover {
    background-color: rgba(170, 0, 0,0.3);
    color: white;
}