.error {
	color: red;
	font-size: 13px;
}

.reg {
	background-color: lavender;
	border: darkcyan 2px solid;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	width: 300px;
	align-content: center;
}

.top {
	padding-left: 20px;
}

.regin {
	border: 2px solid green;
	border-radius: 4;
	padding-left: 10px;
}

/*.regtext {
	padding-left: 10px;
}*/

.formHeader {
	background-color: lavender;
	margin-left: auto;
	margin-right: auto;
	width: 303px;
	text-align: left;
	border: 40px 2px 0 2px;
	border-top: 50px;
	border-bottom: 0px;
	border-top-left-radius:  4px;
	border-top-right-radius: 4px; 
	border-style: solid;
	border-color: darkcyan;
	font-family: fantasy;
	font-size: 20px;
	padding-bottom: 10px;
	padding-left: 5px;
	text-decoration: underline;
}

.middleHeader {
	text-align: left;
	background-color: inherit;
	font-family: fantasy;
	padding-left: 5px;
	font-size: 20px;
	border-top: 20px;
	border-bottom: 4px;
	border-left: 2px;
	border-right: 2px;
	border-style: solid;
	border-color: darkcyan;
}

.login a {
	margin-right: 10%;
	margin-left: 51%;
}